body {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(224, 160, 221, 0.466);
  font-family: "Outfit", sans-serif;
}
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
dd,
dt {
  list-style: none;
  display: inline;
  padding: 0px;
  margin: 0px;
}
img {
  display: block;
  max-width: 100%;
  border-radius: 16px;
}
.cabeca {
  max-width: 600px;
  margin-top: 80px;
  background-color: white;
  padding: 30px 30px 0 30px;
  border-radius: 16px 16px 0 0;
}
.container {
  max-width: 600px;
  /* margin-top: 80px; */
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border-radius: 0px 0px 16px 16px;
  margin-bottom: 80px;
}
.font {
  font-size: 2em;
  font-weight: 500;
  font-family: "Young Serif", sans-serif;
}
.span1 {
  color: rgba(61, 55, 55, 0.753);
  font-size: 0.8em;
  font-weight: 600;
}
.lista-1 {
  background-color: rgba(223, 142, 142, 0.185);
  padding: 10px 0 20px 30px;
  margin-top: 20px;
  border-radius: 6px;
}
.lista-1 h3 {
  color: rgba(121, 12, 72, 0.801);
  font-size: 1.1em;
  font-family: "Outfit", sans-serif;
}
.lista-1 li {
  padding-left: 30px;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  font-weight: 500;
  margin-top: 6px;
  color: rgba(48, 44, 44, 0.753);
}
.lista-1 li::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.63);
  position: relative;
  left: -20px;
}

.lista-1 span {
  font-weight: 700 !important;
  color: black;
  font-size: 1em !important;
  padding-right: 4px;
}
.list-2 {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(173, 154, 154, 0.342);
}
.list-2 li {
  padding-left: 30px;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  font-weight: 500;
  margin-top: 6px;
  color: rgba(48, 44, 44, 0.753);
}
.list-2 li::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.63);
  position: relative;
  left: -20px;
}
.list-2 h2 {
  color: rgba(138, 41, 41, 0.767);
  font-family: "Young Serif", sans-serif;
}
.title {
  color: rgba(138, 41, 41, 0.767);
  font-family: "Young Serif", sans-serif;
}
.font-black-title {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.781);
  font-size: 1em;
}
.red-bold {
  color: rgba(138, 41, 41, 0.767);
  font-weight: bold;
}
.conteudo-2 ul {
  display: flex;
  gap: 20px;
}
.conteudo-2 ul:last-child {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(173, 154, 154, 0.342);
}
.conteudo-2 li {
  color: rgba(0, 0, 0, 0.74);
}
.cor-geral {
  color: rgba(0, 0, 0, 0.74);
}
.last-list li {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  border-bottom: 1px solid rgba(173, 154, 154, 0.342);
  padding-bottom: 14px;
  margin-bottom: 14px;
}
.last-list li:first-child {
  padding-top: 10px;
}
.last-list li:last-child {
  border-bottom: none;
}

@media (max-width: 600px) {
  .container {
    max-width: 100%;
    margin-top: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
  }
  img {
    border-radius: 0px;
  }
  .cabeca {
    padding: 0px;
    margin-top: 0px;
  }
}
